<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.1" targetFramework="net40" />
  <package id="DotNetDesign.Common" version="0.5.2.0" targetFramework="net40" />
  <package id="EntityFramework" version="4.3.1" targetFramework="net40" />
  <package id="EntityFramework.SqlServerCompact" version="4.3.4" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net40" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net40" />
</packages>